html {
font-family: 'Josefin Slab', serif;

}

header {
background-color: #ffe524;
padding: 3em 3em 3em 3em;

}

h1 {
  font-family: 'Sigmar One', cursive;
  color:#b32f52;
  font-size: 3rem;
  text-align:center;
}

nav a {
  color: white;
  background-color:#b2a215;
  text-decoration:none;
  display:inline-block;
  border-radius: 10px;
  padding:1em;
  margin:0.2em;
  font-size:1.3rem;
}

nav a:hover {
  background-color: #b32f52;
}
a {
  color:  #b32f52;
}

ol {
  list-style: none;
  padding: 0;
  text-align:center;
}

ol li {
  display: inline;
}

figure {
  border: 3px solid #b2a215;
  border-radius: 1em;
  padding:2em;
  background-color:#fffce0;
}
img {
  width:100%;
}
div {
  font-size: 4em;
}

h2 {
  font-family: 'Sigmar One', cursive;
  color:#b32f52;
  font-size: 2rem;
  border-top: 3px solid #ffe524;
  padding: 4px
}

h3 {
  font-family: 'Sigmar One', cursive;
  color:#b32f52;
  font-size: 1.5rem;
}

footer {
  color: #b32f52;
  background-color:#ffe524;
  padding: 3em 3em 3em 3em;
}
figcaption {
  text-align:center;
  font-style: italic;
  font-weight: bold;
  color:black;
}

.largeitalic {
  font-size: 2em;
  color: #b2a215;
  font-style: italic;
  text-align:center;
}

.quote {
  font-size: 4em;
  margin:0;
  line-height:0.2;
  padding: 0.7em 0 0 0;
}
